
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.playwright-mcp
.env

#Python
\__pycache__

#Github
/.agents/
/.github/
agent
/stitch_mockup
*plan.md
/.vscode

data/raw/
data/cache
